body{
    background: linear-gradient(135deg,#71b7e6,#75e671);
}
.start{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    }
    .row {
        display: table;
        text-align: center;
        border-radius: 9px;
        box-shadow: rgb(0, 0, 0);
    }
.card{
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    background-color: white;
}
.about-section {
    padding: 70px;
    text-align: center;
    background-color:  rgba(6, 214, 186, 0);
    color: black;
    border-radius: 9px;
  }
  .column{
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  .team{
    text-align: center;
    font-size: xx-large;
    font-weight: 500;
  }
  .final{
    font-size: 500;
    text-align: center;
  }